<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="main" fxLayout="column" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="20px">
  <img src="assets/img/legalbot-logo-vertical.png">
  <form [formGroup]="signInForm" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>LOGIN CHALLENGE - LEGALBOT </mat-card-title>
        <mat-card-subtitle>Author: Camilo Gálvez Vidal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName='email'>
          <mat-error *ngIf="signInForm.get('email').invalid">
            Invalid email format
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName='password' [type]="hide_pass ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide_pass = !hide_pass">
            <mat-icon>{{hide_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-card *ngIf="show_signin_error_card" class="error-card" fxLayoutAlign="center center">
          Invalid email or password, try again
        </mat-card>
        <div class="signup-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <p>
            Don't have an account?
            <a [routerLink]="['/sign_up']">
              Register here
            </a>
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center">
        <button mat-flat-button type="submit" color="primary">SIGN IN</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
