.main {
    margin-top: -20px;
    img {
      height: 150px;
    }
    mat-card {
        width: 500px;
        mat-card-title, mat-card-subtitle {
            text-align: center;
        }
        .error-card {
          background-color: red;
          color: white;
        }
        .signup-wrapper {
            margin-top: 10px;
        }
    }
}
