<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="main" fxLayout="column" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="20px">
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Sign up for your account</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName='name' required>
            <mat-hint>{{ validationMessages.name.hint }}</mat-hint>
            <mat-error *ngIf="signUpForm.get('name').hasError('required')">
              {{ validationMessages.global.required }}
            </mat-error>
            <mat-error *ngIf="signUpForm.get('name').hasError('minlength')">
              {{ validationMessages.name.errors.minLength }}
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput formControlName='lastname'>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName='gender' required>
            <mat-option>None</mat-option>
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="signUpForm.get('gender').hasError('required')">
            {{ validationMessages.global.required }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName='email' required>
            <mat-hint>{{ validationMessages.email.hint }}</mat-hint>
            <mat-error *ngIf="signUpForm.get('email').hasError('email')">
              {{ validationMessages.email.errors.email }}
            </mat-error>
            <mat-error *ngIf="signUpForm.get('email').hasError('required')">
              {{ validationMessages.global.required }}
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName='password' [type]="hide_pass ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide_pass = !hide_pass" [attr.aria-pressed]="hide_pass">
              <mat-icon>{{hide_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>{{ validationMessages.password.hint }}</mat-hint>
            <mat-error *ngIf="signUpForm.get('password').hasError('required')">
              {{ validationMessages.global.required }}
            </mat-error>
            <mat-error *ngIf="signUpForm.get('password').hasError('pattern')">
              {{ validationMessages.password.errors.pattern }}
            </mat-error>
            <mat-error *ngIf="signUpForm.get('password').hasError('maxlength')">
              {{ validationMessages.password.errors.maxLength }}
            </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <button mat-button type="button" color="basic" [routerLink]="['/']">BACK</button>
        <button mat-flat-button type="submit" [disabled]="!signUpForm.valid" color="primary">SIGN UP</button>
      </mat-card-actions>
    </mat-card>
    </form>
  </div>
